<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itau.jingdong"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.itau.mygod.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itau.mygod.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".CreateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DeleteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FindActivity"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.itau.mygod.ui.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.itau.mygod.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.itau.mygod.ui.IndexActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
       
        <activity
            android:name="com.itau.mygod.ui.CategoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name="com.itau.mygod.ui.PersonalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.itau.mygod.ui.HistoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.itau.mygod.ui.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Present"
            android:windowSoftInputMode="adjustPan" />
        
        
        <activity
            android:name="com.itau.mygod.ui.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.RegisterNormalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.ProductDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        
        <activity
            android:name="com.itau.mygod.ui.IndexProductActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.IndexClothingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.IndexDigtalActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.OrderActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.IndexDaily"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.IndexEbookActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.ui.IndexShakeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.itau.mygod.zxing.CaptureActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
		<activity
            android:name="com.itau.mygod.product.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity android:name="com.itau.mygod.zxing.CaptureResultActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"></activity>
        
    </application>

</manifest>